html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, #08a652, rgb(116, 165, 126));
    background-image: image-set("http://localhost:8000/image")!important;
    background-size: cover;
    background-repeat: no-repeat;

}
.login{
    text-align: center;
    /*background: linear-gradient(to left, #08a652, rgb(116, 165, 126));*/
    /*background-image: image-set("images/SBERLOGNEGIF.gif")!important;
    border: 0.4vmin solid #9fe520;*/
    background-size: cover;
    width: 30%;
    height: 75%;
    position: fixed;
    border-radius: 10pt;
    right: 35%;
    padding-top: 10pt;
}
.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
    color: #00e6ac;
    text-shadow: black -1px -1px 1px;
    font-size: 4.5vmin;
    margin-bottom: 5%;
}
h2{
    margin-top: 5%;
}
h1{
    padding-top: 3vmin;
    padding-bottom: 0;
}
.login h1,h2{
    color: rgb(231, 231, 231);
}
main div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    font-family: 'Montserrat', sans-serif;
    margin-top: 40%;
    width: 40%;
    height: 6%;
    background: linear-gradient(158deg, #f8eb00, rgb(253, 0, 101));
    border-radius:3vmin;
    font-size: 2vmin;
    transition: 0.4s;
    color: #000000;
    font-weight: bold;
}
#errorPlace{
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-top: 4%;
    color: #08a652;
}
button:hover{
    background: #FF0066;
    scale: 103%;
}
button:focus{
    scale: 107%;
    background: #f8eb00;
}

.unright{
    border-color: red;
}
input{
    font-family: 'Montserrat', sans-serif;
    border-radius:3vmin;
    width: 70%;
    font-size: 2vmin;
    padding: 0.5vmin;
}