html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, green, rgb(116, 165, 126));
}
.login{
    text-align: center;
}
.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 4.5vmin;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
    color: rgb(231, 231, 231);
}
.header_last_container{
    display: flex;
    flex-direction: row;
}
.exit {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: right;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(207, 194, 194);
  }
  
.exit:hover {
    background-color: rgb(158, 144, 144);
}
  
.exit:active {
    background-color: rgb(109, 101, 101);;
}
aside{
    float: left;
    width: 20vw;
    height: 100%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid grey;
}
.username{
    margin-right: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    font-weight: bold;
    color: rgb(231, 231, 231);
}
main{
    display: flex;
    flex-direction: row;
}
main div{
    width: 80vw;
    margin-left: 2vw;
}