html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;  
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to left, green, rgb(116, 165, 126));
    background-image: image-set("images/sber4k.png")!important;

}
.login{
    text-align: center;
}
.header{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 4.5vmin;
    font-weight: bold;
    margin-top: 2%;
    margin-left: 2%;
    color: rgb(231, 231, 231);
}
.header_last_container{
    display: flex;
    flex-direction: row;
}
.exit {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: right;
    color: #fff;
    border-radius: 10px;
    background-color: #3B5249;
  }
  
.exit:hover {
    background-color: #A4B494;
}
  
.exit:active {
    background-color: #A4B494;
}
aside{
    float: left;
    width: 25vw;
    height: 99%;
    margin-top:1%;
}
aside div{
    width: 22vw;
    color: rgb(231, 231, 231);
    padding: 1vw;
    margin-left: 0.5vw;
    background-color: #519872;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: solid grey;
    background-color: #519872;
}
.username{
    margin-right: 20%;
    font-family: 'Montserrat', sans-serif;
    font-size: 3vmin;
    font-weight: bold;
    color: rgb(231, 231, 231);
}
main{
    display: flex;
    flex-direction: row;
}
main .applicationPlace{
    width: 70vw;
    margin-left: 2vw;
}
.chosen{
    color: rgb(231, 231, 231);
    background-color: rgb(116, 165, 126);
    width: 22vw;
}
main div .buttons{
    display: flex;
    flex-direction: column;
    margin-top: 4vmin;
    margin-left: 1vmin;
}
main div div{
    display: flex;
    flex-direction: row;

}
main div .buttons button{
    margin: 0.5vmin;
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 231, 231);
    background-color: #3B5249;
    border: 0;
    font-size: 2vmin;
    padding: .5vmin;
}
textarea{
    resize: none;
    width: 40vw;
    height: 20vh;
    font-family: 'Montserrat', sans-serif;
    color: rgb(231, 231, 231);
    background-color: #3B5249;
    border: 0;
}

table{
    margin-bottom: 2vmin;
}
td{
    border: 1px solid black;
    background-color: #3B5249;
    color: rgb(231, 231, 231);
}